.crypto-list{
        margin-top: 12vh;
}
.crypto-list h1{
    text-align: left;
}
.crypto-list table{
    margin-left: 6%;
    margin-right: 6%;
    width: 88%;
    text-align: left;
}
thead,tbody{
    background-color: var(--bg-secondary);
    text-align: center;
}
thead th{
    padding: 1rem 0rem;
}
tr{
    padding: 2rem;
}
table{
    border-collapse: collapse;
}

th,td{
    border-bottom: 1px solid var(--table-border);
    padding : 1.5rem 1rem
}
tbody img{
    padding-top: 0.3rem;
    padding-right: 0.3rem;
}